* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00416a;
  user-select: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2em;
  cursor: pointer;
}

img {
  border: 20px solid #fff;
  object-fit: cover;
  max-height: calc(100vh - 4em);
  max-width: calc(100vw - 4em);
  border-radius: 8px;
}
