* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #00416a;
  user-select: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2em;
  cursor: pointer;
}

.background {
  transition: background-image 250ms ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(30px);
  position: fixed;
  top: -5vh;
  left: -5vw;
  height: 110vh;
  width: 110vw;
}

img {
  position: relative;
  max-height: calc(100vh - 4em);
  max-width: calc(100vw - 4em);
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: opacity 250ms ease-in-out;
}
